@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
  --white: #fff;
  --black-market: #231e41;
  --light-black-market: #6f6f87;
  --saffaron: #f5c332;
  --dark-gray: #f2f3f5;
  --light-gray: #f9fafc;
}

* {
  color: var(--black-market);
  letter-spacing: 0.03rem;
  /* border: 1px solid; */
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--dark-gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--saffaron);
}

/* ============================= NAVBAR STYLING ==================================*/
.navbar {
  background-color: var(--dark-gray);
  height: 5rem;
  border: solid black;
  border-width: .01rem 0 .01rem 0;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.navcontainer {
  padding: 0 !important;

}



.navbar-brand {
  font-weight: 600;
  color: var(--black-market);
}

.fa-bowl-rice,
.active,
.nav-link:hover {
  color: var(--saffaron) !important;
}

.nav-link {
  color: var(--black-market);
  font-size: .9rem;
}

.nav-item {
  padding-inline: 1.5rem;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  gap: 8px;
}

.nav-icons>a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  background-color: var(--saffaron);
  border-radius: 50%;
  height: 40px;
  text-decoration: none;
  width: 40px;
}


/* MEDIA QUERY */

@media (max-width:992px) {
  .navbar {
    position: fixed !important;
    left: 0;
    right: 0;
    width: 100%;
  }

  @media (max-width:576px) {
    .navcontainer {
      padding-inline: 12px !important;
    }
  }

  /* Jab navbar-collapse par 'show' class ho, tab body scroll na kare */
  body:has(.navbar-collapse.show) {
    overflow: hidden;
  }

  .navbar-collapse {
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    width: 100%;
    background-color: rgba(242, 243, 245, 0.85);
    backdrop-filter: blur(8px);
    text-align: center;
    font-size: 1rem !important;

  }

  .nav-item {
    font-weight: 600;
    font-size: larger;
  }

  .navbar-nav {
    min-height: calc(100vh);
  }

  .nav-item {
    margin: 0.5rem 0;
  }

  .collapsing {
    transition: height .5s ease-in-out !important;

  }
}



/*===================== MAIN HERO SECTION ==========================*/



.heroSection {
  height: calc(100vh - 5rem);
  position: relative;
  z-index: 1;
  margin-top: 5rem !important;
}

.heroSection::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--dark-gray);
  z-index: -1;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.herotext {
  padding: 0 !important;
}

.herotext span {
  background-color: var(--dark-gray);
}


.herotext h1 {
  font-size: 4rem;
  letter-spacing: .1px;
  padding-top: .5rem;
  font-weight: 700;
}

.herotext p {
  font-weight: 500;
  padding-top: 1rem;
}

.herotext button {
  margin-top: 1rem;
}

.heroimg {
  background-image: url("/heroimg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.menu-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--saffaron);
  padding: .3rem .5rem;
  transition: all 0.3s;
  border: .5px solid;
}

.menu-btn:hover {
  background-color: #f9ce4d;
}

@media (max-width:992px) {
  .heroSection {
    min-height: 100vh;
    margin-top: 8rem !important;
  }

  .herotext h1 {
    font-size: 2.5rem;
    padding-top: .5rem;
    font-weight: 700;
  }

  .heroimg {
    background-size: cover;
    height: calc(100vh - 40vh);

  }
}


/* second main section */

.imagecol {
  height: 100vh;
  width: 100%;
  background: var(--dark-gray);
  position: relative;
}

.imagecol img {
  height: 90%;
  width: 70%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;

}

.expcard {

  position: absolute;
  border: 1px solid var(--dark-gray);
  right: 20%;
  bottom: 0;
  background-color: #f8f8f9;
  text-align: center;
  align-items: center;
  display: inline-flex;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Philosopher", sans-serif;
  box-shadow: 4px 10px 8px rgba(0, 0, 0, 0.2);

}

.cardcontent {
  border: 1px solid rgb(165, 161, 161);
  padding: 15px;
}

.cardcontent h1 {
  font-size: 4rem;
  font-weight: 700;
}

.cardcontent h4 {
  font-weight: 600;
}

.contentcol {
  height: 100vh;
  width: 100%;
  background: #9c8fe2;
}