:root {
  --white: #fff;
  --black-market: #231e41;
  --light-black-market: #6f6f87;
  --saffaron: #f5c332;
  --dark-gray: #f2f3f5;
  --light-gray: #f9fafc;
}

* {
  color: var(--black-market);
  letter-spacing: 0.03rem;
}

a {
  text-decoration: none;
}

/* ============================= NAVBAR STYLING ==================================*/
.navbar {
  background-color: var(--dark-gray);
  height: 5rem;
  border: solid black;
  border-width: .01rem 0 .01rem 0;
}



.navbar-brand {
  font-weight: 600;
  color: var(--black-market);
}

.fa-bowl-rice,
.active,
.nav-link:hover {
  color: var(--saffaron) !important;
}

.nav-link {
  color: var(--black-market);
  font-size: .9rem;
}

.nav-item {
  padding-inline: 1.5rem;
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 1rem;
}

.nav-icons>a:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  background-color: var(--dark-gray);
  border-radius: 50%;
  height: 40px;
  text-decoration: none;
  width: 40px;
}


/* MEDIA QUERY */

@media (max-width:992px) {

  .navbar-collapse {
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    width: 100%;
    background-color: var(--dark-gray);
    text-align: center;
    font-size: 1.1rem;

  }

  .nav-item {
    margin: 0.5rem 0;
  }

  .collapsing {
    transition: height .4s ease !important;
  }
}



/* MAIN HERO SECTION */
.heroSection {
  height: calc(100vh - 5rem);
}

.herotext span {
  background-color: var(--dark-gray);
}


.herotext h1 {
  font-size: 4rem;
  letter-spacing: .1px;
  padding-top: .5rem;
  font-weight: 700;
}

.herotext p {
  font-weight: 500;
  padding-top: 1rem;
}

.herotext button {
  margin-top: 1rem;
}

.heroimg {
  background-image: url("/public/heroimg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.menu-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--saffaron);
  padding: .3rem .5rem;
  transition: all 0.3s;
  border: .5px solid;
}

.menu-btn:hover {
  background-color: #f9ce4d;
}

@media (max-width:992px) {
  .herotext h1 {
    font-size: 2.5rem;
    padding-top: .5rem;
    font-weight: 700;
  }

  .heroimg {
    background-size: cover;
    height: calc(100vh - 40vh);

  }
}